<html>
    <head>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% assets "style_scss" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
        {% endassets %}
    </head>
    <body>
        <div class="menu">
            <label class="button">
                <input type="radio" id="item-radio" name="twtype" value="timeline" autocomplete="off">timeline
                <input type="radio" id="item-radio" name="twtype" value="favorites" autocomplete="off">favorites
            </label>
        </div>
        <div class="content">
        </div>
    </body>
</html>

