<html>
    <head>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% assets "style_scss" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
        {% endassets %}
    </head>
    <body>
        <div class="menu">
            <h1>Twixiv</h1>
            <div class=user>
                 {{ screen_name }} / <a href="/logout">logout</a>
            </div>
            <span class="twtype-button">
                <button class="timeline" type="button">TimeLine</button>
                <button class="favorites" type="button">Likes</button>
                <select class="lists" name="lists">
                    <option value="">Lists</option>
                </select>
            </span>
            <form class="search-form" name="search">
                <input type="text" id="search-text" name="search" placeholder="Search" area-describedby="glass">
                <input type="submit" id="search-submit" value="🔍 ">
            </form>
        </div>
        <div class="content">
        </div>
    </body>
</html>

