<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='iconate/dist/iconate.min.css') }}">
        {% assets "style_scss" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
        {% endassets %}
    </head>
    <body>
        <div class="menu">
            <h1>Twixiv</h1>
            <div class=description>
                Twitter Picture Viewer
            </div>
            <div class="twtype-button form-inline">
                <button class="tw-menu btn btn-default" id="login" type="button" onClick="location.href='/login'">Login</button>
            </div>
        </div>
    </body>
</html>

