<script type="text/javascript" src="{{ url_for('static', filename='lightbox2-master/dist/js/lightbox.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lightbox-option.js') }}"></script>
<link type="text/css" href="{{ url_for('static', filename='lightbox2-master/dist/css/lightbox.css') }}" rel="stylesheet"/>
{% if 'list_id' in req.params %}
<div class="tweet-content" data-twtype={{ req.twtype }} data-list_id={{ req.params.list_id }}>
{% elif 'q' in req.params %}
<div class="tweet-content" data-twtype={{ req.twtype }} data-q={{ req.params.q }}>
{% else %}
<div class="tweet-content" data-twtype={{ req.twtype }}>
{% endif %}
    {% set max_id = tweets[0].id %}
    {% set since_id = tweets[-1].id %}
    <div class="tweet-newer" data-max_id={{ max_id }}>▲</div>
    <div class="tweets">
        {% for tweet in tweets %}
        {% set tweet_id = tweet.id %}
        {% if 'retweeted_status' in tweet %}
        {% set tweet = tweet.retweeted_status %}
        {% endif %}
        {% if 'media' in tweet.entities %}
        <div class="tweet" data-id={{ tweet_id }}>
            <div class="media">
                <a href="{{ tweet.entities.media[0].media_url_https }}" data-lightbox="tweets" data-title="{{ tweet.text }}">
                    <img src={{ tweet.entities.media[0].media_url_https }}>
                </a>
            </div>
            <div class="user" data-user_id={{ tweet.user.id }}>
                <a href="https://twitter.com/{{ tweet.user.screen_name }}" target="_blank">{{ tweet.user.name }}</a>
            </div>
            <div class="count">
                <span class=retweet-count data-retweeted={{ tweet.retweeted }}>⇄ {{ tweet.retweet_count }}</span>
                <span class=favorite-count data-favorited={{ tweet.favorited }}>❤ {{ tweet.favorite_count }}</span>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="tweet-older" data-since_id={{ since_id }}>▼</div>
</div>
