<div class="tweet" data-id=${id}>
    <div class="media">
        <a href="${media_url_https}" data-lightbox="tweets" data-title="${text}">
            <img src=${media_url_https}>
        </a>
    </div>
    <div class="user" data-user_id=${user_id}>
        <a href="https://twitter.com/${user_screen_name}" target="_blank">${user_name}</a>
    </div>
    <div class="count">
        <span class=retweet-count data-retweeted=${retweeted}>⇄ ${retweet_count}</span>
        <span class=favorite-count data-favorited=${favorited}>❤ ${favorite_count}</span>
    </div>
</div>
