<div class="tweet" data-id=${id} data-id-org=${id_org}>
    <div class="media img-responsive">
        {{each media_url_https}}
        <a href="${this}" data-lightbox="tweets" data-title="${text}">
            {{if $index == 0}}
            {{if media_url_https.length == 1}}
            <img src=${this}>
            {{else}}
            <img class="img-thumbnail" src=${this}>
            {{/if}}
            {{/if}}
        </a>
        {{/each}}
    </div>
    <div class="user" data-user_id=${user_id}>
        <a href="https://twitter.com/${user_screen_name}/status/${id}" target="_blank">${user_name}</a>
    </div>
    <div class="count">
        <span class=retweet-count data-retweeted=${retweeted}>
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <i class="retweet-num">${retweet_count}</i>
        </span>
        <span class=favorite-count data-favorited=${favorited}>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <i class="favorite-num">${favorite_count}</i>
        </span>
    </div>
</div>
