.tweets {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;

    .tweet {
        width: 256px;
        height: 256px;
        position: relative;

        .media {
            text-align: center;
        }
        img {
            max-width: 200px;
            max-height: 200px;
        }
        .user {
            position: absolute;
            bottom: 7%;
            right: 0;
            left: 0;
        }
        .count {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
        }
        p {
            text-align: center;
        }
    }
}
