$form-size: 250px;
$tweet-size: 250px;
$img-size: 200px;
$tweet-font-size: 12px;
$menu-color: #00ccff;
$view-color: #ccffff;
$back-color: #f0f0f0;
$retweet-color: #00cc00;
$favorite-color: #ff0000;
$default-color: #666666;

.menu {
    background-color: $menu-color;
    h1 {
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .user {
        text-align: right;
        margin-right: 10px;
    }
    .tw-menu {
        margin-left: 5px;
        margin-bottom: 5px;
    }
    .tw-form{
        width: $form-size;
    }
}

.loader {
    width: 100px;
    height: 100px;
    display: none;
    position: fixed;
    _position: absolute; /* IE6対策 */
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50Xpx;
    z-index: 100;
}

.fade {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #FFFFFF;
    opacity: 0.7;
    position: absolute;
    z-index: 50;
}

.tweet-newer {
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
}

.tweet-older {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
}

.tweets {
    display: flex;
    flex-flow: wrap;
    align-items: center;

    .tweet {
        width: $tweet-size;
        height: $tweet-size;
        position: relative;

        .media {
            text-align: center;

            img {
                max-width: $img-size;
                max-height: $img-size;
            }
        }
        .user {
            text-align: center;
            z-index: 1;
            position: absolute;
            bottom: $tweet-font-size * 2;
            right: 0;
            left: 0;

            a {
                font-size: $tweet-font-size;
            }
        }
        .count {
            text-align: center;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;

            span {
                cursor: pointer;
                font-size: $tweet-font-size;
            }
            span[data-retweeted="true"] {
                color: $retweet-color;
            }
            span[data-retweeted="false"] {
                color: $default-color;
            }
            span[data-favorited="true"] {
                color: $favorite-color;
            }
            span[data-favorited="false"] {
                color: $default-color;
            }
        }
    }
}
