$tweet-size: 250px;
$img-size: 200px;
$tweet-font-size: 12px;


.tweets {
    display: flex;
    flex-flow: wrap;
    align-items: center;

    .tweet {
        width: $tweet-size;
        height: $tweet-size;
        position: relative;

        .media {
            text-align: center;

            img {
                max-width: $img-size;
                max-height: $img-size;
            }
        }
        .user {
            z-index: 1;
            position: absolute;
            bottom: $tweet-font-size * 2 + 1;
            right: 0;
            left: 0;

            a {
                text-align: center;
                font-size: $tweet-font-size;
            }
        }
        .count {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;

            p {
                text-align: center;
                font-size: $tweet-font-size;
            }
        }
    }
}
